# Node.js
node_modules/

# Next.js
.next/

# Build
out/
.build/

# Cache
.cache/

# Logs
logs/
*.log

# Editor
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.bak
*.swp

# Package-lock
package-lock.json

# Compiled TypeScript
build/

# Windows
Thumbs.db

# Testing
coverage/