<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/css/offer-detail.css">
    </head>
    <body>
        <header>
            <div class="brand">
                <div class="logo">
                    logo
                </div>
                <span class="name">
                    publica tu oferta
                </span>
                <span class="name" style="margin-left: 20px;">
                    ver ofertas
                </span>
            </div>
            <div class="header-buttons">
                <a style="margin-right: 15px;">
                    Ignacio
                </a>
                <div class="profile-icon">

                </div>
            </div>
        </header>
        <div class="details">
            <div class="info-section">
                <div class="circle">

                </div>
                <div class="owner-data">
                    <span class="title">Titulo de oferta</span>
                    <span class="title">dueño de oferta</span>
                    <span class="title">numero de telefono</span>
                </div>
            </div>
            <div class="description"></div>
            <button class="add">me interesa</button>
        </div>
    </body>
</html>