<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/css/offers.css">
    </head>
    <body>
        <header>
            <div class="brand">
                <div class="logo">
                    logo
                </div>
                <span class="name">
                    publica tu oferta
                </span>
                <span class="name" style="margin-left: 20px;">
                    ver ofertas
                </span>
            </div>
            <div class="header-buttons">
                <a style="margin-right: 15px;">
                    Ignacio
                </a>
                <div class="profile-icon">

                </div>
            </div>
        </header>
        <div class="body">
            <span class="title">Ofertas</span>
            <div class="filters" style="margin-top: 40px;">
                <select>
                    <option>Seleccione tipo</option>
                </select>
                <select style="margin-left: 20px;">
                    <option>Categorias</option>
                </select>
            </div>
            <div class="offers">
                <div class="card-container">
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                    <div class="card">
                        <div class="circle"></div>
                        <span class="title">Titulo oferta</span>
                        <button class="more"> saber mas</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>