<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/static/css/postulations.css">    </head>
    <body>
        <header>
            <div class="brand">
                <div class="logo" id="home">
                    logo
                </div>
                <span class="name" id="upload">
                    publica tu oferta
                </span>
                <span class="name" id="see-offers" style="margin-left: 20px;">
                    ver ofertas
                </span>
            </div>
            <div class="header-buttons">
                <a style="margin-right: 15px;" id="see-profile">
                    Ignacio
                </a>
                <div class="profile-icon" id="see-postulations">

                </div>
            </div>
        </header>
        <div class="body">
            <span class="title">Tus postulaciones</span>
            <p class="info-text">A continuacion estaran todas las ofertas a las que les diste “me interesa”, aqui podras ver si fuiste aceptado o no.</p>
            <div class="underline"></div>
            <div class="cards">
                <div class="card-container">
                    <div class="card">
                        <span class="card-title">Titulo de oferta</span>
                        <span class="state">Estado: <span>pendiente</span></span>
                        <button class="cancel">Cancelar</button>
                    </div>
                    <div class="card">
                        <span class="card-title">Titulo de oferta</span>
                        <span class="state">Estado: <span style="color:#1fbf1c">Aceptado</span></span>
                    </div>
                    <div class="card">
                        <span class="card-title">Titulo de oferta</span>
                        <span class="state">Estado: <span style="color:#F13737">Rechazado</span></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="/static/js/postulations.js"></script>
    </body>
</html>