<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            <div class="brand">
                <div class="logo">
                    logo
                </div>
                <span class="name">
                    nombre de la pagina
                </span>
            </div>
            <div class="header-buttons">
                <a>
                    iniciar sesion
                </a>
                <button class="register-button">
                    Registrate
                </button>
            </div>
        </header>
        <div class="body">
            <div class="data-section">
                <div class="form">
                    <span class="title-white">Registrate</span>
                    <div style="display: flex;flex-direction: column;">
                        <span style="color:#fff">Nombre</span>
                        <input type="text" placeholder="John Doe">
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <span style="color:#fff">Telefono</span>
                        <input type="text" placeholder="+569">
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <span style="color:#fff">Correo</span>
                        <input type="text" placeholder="correo electronico">
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <span style="color:#fff">pass</span>
                        <input type="text" placeholder="contraseña">
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <span style="color:#fff">ocupacion</span>
                        <select name="tipo">
                            <option>Buscar Trabajo</option>
                            <option>Ofrecer Trabajo</option>
                            <option>Persona Natural</option>
                        </select>
                            
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <span style="color:#fff">opcional</span>
                        <input type="text" placeholder="nombre de la organizacion">
                    </div>
                    <button class="register">Registrate</button>
                </div>
            </div>
            <div class="text-section">
                <div class="title">¿Tienes cuenta?</div>
                <div> bla bla bla</div>
                <button class="register">Login</button>
            </div>
        </div>
    </body>
</html>